html,
body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}

.header-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 50rem;
}

.slider {
  display: flex;
  width: fit-content;
  height: 100%;
  position: relative;
  animation: slide 40s linear infinite;
  animation-play-state: paused;
}

.header-background {
  height: 100%;
  padding: 0;
  object-fit: cover;
  z-index: 0;
}

.header-filter {
  display: grid;
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0.1rem);
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.navbar {
  justify-self: center;
  position: absolute;
}

.navbar img {
  height: 8rem;
}

.navbar ul {
  list-style-type: none;
  text-align: center;

  margin: 1rem 0 3rem 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.link {
  transition: transform 150ms ease;
}

.link:hover {
  transform: scale(1.1);
}

.link > a:hover {
  color: #00b4d8;
}

.link:first-child {
  margin-bottom: 1rem;
}

.link:nth-child(3) > a {
  color: #00b4d8;
}

.link ~ li:not(:last-child) {
  margin-bottom: 1.5rem;
}

.text-container {
  position: absolute;
  bottom: 20%;
}

.tittle-text,
.description-text {
  color: white;
  background-color: rgba(2, 102, 156, 0.5);
  padding: 1rem 1rem;
  text-align: center;
  width: fit-content;
  border-radius: 10px;
}

.description-text {
  font-weight: 500;
  font-size: 1.2rem;
}

/* Upper muscles */
.upper-muscles {
  display: flex;
  position: relative;
  width: 100%;
  height: 50rem;
}

.upper-muscles-slider {
  animation: slideUpperMuscles 120s linear infinite reverse;
}

.upper-muscles-slider img {
  object-fit: cover;
  height: 100%;
}

.upper-muscles-description-tittle {
  font-weight: bold;
}

/* Lower muscles */
.lower-muscles-container {
  display: flex;
  flex-direction: column;
  height: 100rem;
}

.lower-muscles-intro {
  width: 100%;
  position: relative;
  height: 50%;
}

.lower-muscles-slider {
  animation: slideLowerMuscles linear 120s infinite;
  height: 100%;
}

.slider-details {
  transform: translateX(-4.45%);
  animation: slideLowerMuscles linear 120s infinite;
}

.lower-muscles-slider img {
  object-fit: cover;
  object-position: center;
  height: 100%;
}

.lower-muscles-details {
  position: relative;
  width: 100%;
  height: 50%;
}

.lower-muscles-details-tittle {
  font-weight: bold;
}

/* disciplinas bloque */
.discipline-container {
  height: 50rem;
  position: relative;
}

.discipline-slider {
  height: 100%;
  animation: slideDisciplines linear 120s infinite reverse;
}

.discipline-slider img {
  object-fit: cover;
  object-position: left;
  height: 100%;
}

/* pie de pagina */
.ending iframe {
  display: block;
  border: none;
  width: 100%;
  height: 20rem;
}

@keyframes slide {
  to {
    transform: translateX(-56.2%);
  }
}

@keyframes slideUpperMuscles {
  to {
    transform: translateX(-71.45%);
  }
}

@keyframes slideLowerMuscles {
  to {
    transform: translateX(-60%);
  }
}

@keyframes slideDisciplines {
  to {
    transform: translateX(-71.44%);
  }
}

@media (min-width: 375px) {
  .text-container {
    padding: 0 1rem;
  }
}

@media (min-width: 500px) {
  .navbar {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .navbar ul {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .link:first-child {
    margin-right: auto;
    margin-bottom: 0;
  }

  .link ~ li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

/* @media (min-width: 650px) {
} */

@media (min-width: 721px) {
  .description-text {
    font-size: 1.5rem;
  }

  .upper-muscles-description {
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .lower-muscles-text {
    right: 0;
  }

  .lower-muscles-text .tittle-text {
    margin-left: auto;
  }

  .lower {
    display: flex;
    bottom: 10%;
    width: 100%;
    justify-content: center;
  }

  .discipline-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .discipline-text > p,
  .discipline-text > h1 {
    margin: 0;
  }
}
