@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body,
html {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.brand-logo {
  width: 5rem;
  height: auto;
  transition: transform 0.3s ease;
}

.brand-logo:hover {
  transform: scale(1.1);
}

a {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  color: black;
  transition: color 200ms ease, transform 200ms ease;
}

a.link {
  margin-right: 50px;
}

a:hover {
  color: #00b4d8;
  transform: scale(1.1);
}

.navbar {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 529px) {
  .navbar {
    flex-direction: column;
  }
  .nav-links {
    margin-top: 3%;
    display: flex;
  }
}
@media (max-width: 305px) {
  .navbar {
    align-items: center;
    justify-content: center;
  }
  .nav-links {
    flex-direction: column;
  }

  a {
    text-align: center;
  }

  a.link {
    margin: 0;
    margin-bottom: 10%;
  }
}
