@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}

/* Welcome section */
.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: url(../res/group-young-people.png) no-repeat center / cover;
}

.blur {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  backdrop-filter: blur(0.1rem);
  padding: 0 25px 25px 25px;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link:not(.logo):not(.active) {
  margin-left: 50px;
}

.navbar-links > a {
  text-decoration: none;
  text-shadow: 2px 2px 2px black;
  margin-bottom: 1.5rem;
}

.link {
  transition: transform 150ms ease;
  color: white;
}

.link:hover {
  color: #00b4d8;
  transform: scale(1.1);
}

.active {
  color: #00b4d8;
}

.navbar-logo img {
  width: 8rem;
}

.welcome-tittle {
  margin-top: 6rem;
  text-shadow: 2px 2px 2px black;
  color: #00b4d8;
  transition: letter-spacing 150ms ease;
}

.welcome-tittle:hover {
  letter-spacing: 3px;
}

.welcome-description {
  color: white;
  text-shadow: 2px 2px 2px black;
  padding: 0 5rem;
  font-size: 1.2rem;
}

/* planes */
.plan-monthly {
  margin: 7rem 0;
}

.plan-daily {
  margin-bottom: 4rem;
}

.plan-monthly,
.plan-daily {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
}

.plan-tittle {
  text-align: center;
  font-size: 3rem;
  margin: 0;
}

.plan-text {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.icon {
  margin-right: 5px;
}

.plan-text > span {
  display: flex;
  margin-top: 3rem;
}

hr {
  margin: 4rem 0 0 0;
  width: 18rem;
  height: 2px;
  background-color: black;
  border: none;
}

.plan-value {
  margin-top: 2rem;
  font-weight: bold;
  font-size: 3rem;
}

.plan-button {
  align-self: center;
  font-size: 20px;
  width: 18rem;
  margin-bottom: 15rem;
  padding: 10px 1rem;
}

.plan-button > img {
  height: 100%;
  margin-right: 1rem;
}

/* Horarios */
.schedule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  background-color: #0077b6;
}

.schedule-image {
  margin-top: -14rem;
  height: 22rem;
}

.schedule-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.schedule-info,
.schedule-info-weekday,
.schedule-info-weekend {
  display: flex;
  margin: 15px 30px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.schedule-info > h2 {
  color: #ffffff;
  font-weight: 900;
  margin-bottom: 15px;
  transition: letter-spacing 200ms ease;
}

.schedule-info > h2:hover {
  letter-spacing: 5px;
}

.schedule-info-day {
  color: #d1e3f5;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 2rem 0;
}

.schedule-info-hour {
  color: #ffffff;
  font-weight: 400;

  margin-bottom: 15px;
  animation: increaseweight 1s infinite alternate;
}

/* direccion, mapa */
.dir-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-bottom: 6rem;
  text-align: center;
}

.map-container {
  width: 100%;
  height: 30rem;
}

.map-container > iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.infomap-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infomap-tittle {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 2rem;
}

.infomap-tittle > span {
  color: #0077b6;
}

.infomap-text {
  margin: 5rem 0;
  font-size: 1.5rem;
}

.dir-button > img {
  height: 100%;
  margin-right: 15px;
}

/* píe de pagina */
.pie {
  margin-top: auto;
  width: 100%;
  height: 36rem;
}

.pie > iframe {
  display: block;
  width: 100%;
  height: 100%;
}

@keyframes increaseweight {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.05);
  }
}

@media (max-width: 320px) {
  .navbar-links {
    flex-direction: column;
    text-align: center;
  }

  .active {
    margin-top: 25px;
  }

  .link:not(.logo):not(.active) {
    margin-left: 0;
  }
}

@media (min-width: 529px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 3rem;
  }
}

@media (min-width: 717px) {
  .schedule-container {
    position: relative;
    align-items: start;
    padding-left: 2rem;
  }

  .schedule-info {
    margin: 0;
  }

  .schedule-info-time {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  .schedule-image {
    position: absolute;
    margin-top: 0;
    height: 25rem;
    bottom: -2.5rem;
    right: 0;
  }

  .dir-container {
    padding: 10rem 2rem;
  }
}

@media (min-width: 750px) {
  .pie {
    height: 29rem;
  }
}

@media (min-width: 1010px) {
  .navbar-container {
    padding: 10px 10rem;
  }

  .blur {
    background: rgba(0, 0, 0, 0.5);
  }

  .welcome-text {
    margin: 12rem 6rem 6rem 6rem;
  }

  .welcome-tittle {
    font-size: 3rem;
  }

  .welcome-description {
    margin: 5rem 5rem 0 5rem;
    font-size: 1.5rem;
  }

  .plan-container {
    display: flex;
    align-items: center;
    gap: 10rem;
    justify-content: center;
  }

  .plan-monthly,
  .plan-daily {
    margin: 10rem 0 5rem 0;
  }

  .schedule-container {
    display: flex;
    position: relative;
    align-items: start;
    padding-left: 8rem;
    padding-top: 2rem;
    height: fit-content;
  }

  .schedule-info {
    justify-self: end;
    width: 50%;
    margin: 0;
  }

  .schedule-info > h2 {
    font-size: 4rem;
    margin-top: 0;
  }

  .schedule-info-day {
    font-size: 2rem;
  }

  .schedule-info-hour {
    font-size: 1.5rem;
  }

  .schedule-info-time {
    display: flex;
    justify-content: center;
    gap: 10rem;
    width: 100%;
  }

  .schedule-info-weekday {
    display: flex;
    flex-direction: column;
  }

  .schedule-info-weekend {
    display: flex;
    flex-direction: column;
  }

  .schedule-image {
    position: absolute;
    right: 0;
    bottom: -70px;
    height: 40rem;
  }

  .schedule-image > img {
    height: 100%;
  }
}

@media (max-width: 1200px) {
  .schedule-container {
    padding-left: 2rem;
  }

  .schedule-image > img {
    height: 80%;
  }

  .schedule-info-time {
    gap: 5rem;
  }
}

@media (min-width: 1200px) {
  .map-container {
    height: 50rem;
  }
}
