@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #25d366;
  font-size: 2rem;
  padding: 1rem 2rem;
  border: 2px solid white;
  color: white;
  height: 5rem;
  transition: transform 150ms ease;
}

.action-button:hover {
  transform: scale(1.1);
}
